* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myNav{
  background-color: rgb(15, 77, 102);
}

.bulbImg {
  display: block;
  margin: 0 auto;
  height: 535px;
}

.box {
  height: 100vh;
}

.themeBtn{
 display: flex; 
 justify-content: end !important;
 width: 10%;
 margin-left: auto;
}